{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', 
    filename='media-queries.css') }}">
 
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">   
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
{% endblock %}

{% block title %}
	{% if title %}
		{{ title }} - Leraport
	{% else %}
		Welcome to Leraport
	{% endif %}
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="wrapper">
 
    <!-- Sidebar -->
    <nav class="sidebar">
 
        <!-- close sidebar menu -->
        
 
        <div class="logo">
            <h3><br><br></h3>
        </div>
 
        <ul class="list-unstyled menu-elements">
            <li class="active">
                <a class="scroll-link" href="{{ url_for('photos.index') }}"><i class="fas fa-home"></i> Home</a>
            </li>
            <li>
                <a class="scroll-link about-link" href="{{ url_for('photos.about') }}"><i class="fas fa-user"></i> About</a>
            </li>
            <li>
                <a class="scroll-link" href="#section-5"><i class="fas fa-camera"></i> Portfolio</a>
            </li>
            <li>
                <a class="scroll-link" href="{{ url_for('photos.contact') }}"><i class="fas fa-envelope"></i> Contact</a>
            </li>
        </ul>
 
        <div class="to-top">
            <a class="btn btn-primary btn-customized-3" href="#" role="button">
                <i class="fas fa-arrow-up"></i> Top
            </a>
        </div> 
    </nav>

        <div class="content"></div>
            <a class="btn btn-primary btn-customized open-menu" href="#" role="button">
                <i class="koubi fas fa-bars"></i>
            </a>

            {% for img in img_url %}
                <img 
                    src="{{ img }}" 
                    style="width: 100%; height: 100vh" 
                />
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}
